@mixin desktop{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn-shape{
    opacity: 1;
    color: white;
    padding: 0px 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);  
}

@mixin btn-hover{
    opacity: 0.8;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);   
}

@mixin btn-shadow{
    box-shadow: 0px 0px 10px 2px $color-primary;
}

@mixin gradient{
    background-image: linear-gradient($color-secondary, $color-primary);
}

@keyframes progress-bar {
	0% {
		transform: scaleX(0);
        visibility: visible;
        opacity: 1;
    }
	25% {
		transform: scaleX(0.18);
        visibility: visible;
        opacity: 1;
    }
	50% {
		transform: scaleX(0.4);
		animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
        visibility: visible;
        opacity: 1;
    }
	75% {
		transform: scaleX(0.81);
		animation-timing-function: cubic-bezier(0.25, 0.25, 1);
        visibility: visible;
        opacity: 1;
    }
    100% {
		transform: scaleX(1);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes invisible{
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes spinner{
    0%{
        visibility: visible;
        opacity: 1;
    }
    50%{
        visibility: visible;
        opacity: 1;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

$breakpoints: (
    desktop: 767px
);
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$prog-bar-dur: 2000ms;
$prog-bar-delay: 500ms;


body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #F6F6F6;
    animation: invisible 3s;
}

.load{
	margin: 0px;
	width: 100%; 
    @include flexbox();
    height: 100%;

    .progress {
        width: 100%;
		height: 30px;
		position: fixed;
        z-index: 25;
        
        &__bar {
            height: 100%;
			border: 3px solid $color-tertiary;
            border-radius: 15px;
            background-image: linear-gradient(to right, $color-primary, $color-secondary);
			transform-origin: left;
			transform: left scaleX(0.8);
			animation: progress-bar $prog-bar-dur $prog-bar-delay both;
        }
        
        &__icn{
            @include flexbox();
            animation: spinner 3.5s both;
            
            & i{
                margin-top: 200px;
                text-shadow: 2px 2px 4px $color-primary;
                font-size: 200px;
                color: $color-tertiary;
                animation-duration: 0.9s;
            }
        }
    }
}

.header{
    @include flexbox();
    position: relative;
    width: 100%;
    height: 70px;
    background: white;
    
    &__icn{
        width: 50%;
        position: absolute;
        left: 25px;
        font-size: 25px;
        
        & a{
            color: black;
        }
    }

    &__logo{
        @include flexbox();    
        width: 100%;
    }

    &__logo img{
        width: 50%;
        position: absolute;
        @include desktop(){
            position: absolute;
            width: 25%;
        }
    }
}

.image{
    width: 100%;
    height: 250px;
     
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#menu{
    @include flexbox();
    width: 100%;
}

.menu{
    width: 100%;
    margin-top: -50px;
    border-radius: 30px 30px 0px 0px;
    background-color: #F6F6F6;

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 10px;

        &__title {
            font-family: 'Shrikhand', sans-serif;
            font-size: 26px;
            padding-left: 5%;
        }      
    
        &__icn{
            font-size: 25px;
            cursor: pointer;
            padding-right: 5%;
        }
    }

    &__table{
        display: flex;
        flex-direction: column;
        padding: 0 2%;
        
        & h2{
            font-weight: 1;
            font-size: 20px;
            padding-left: 2%;
            content: '';
            width: 50px;
            height: 4px;
            background: #99e2d0;
            position: absolute;
            z-index: 20;
            left: 0px;
            bottom: -8px;
        }
        
        &__info{
            margin-left: 15px;
            white-space: nowrap;
            overflow: hidden;

            &-title{
                font-weight: bold;
            }

            & p{
                margin: 0px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    
        &__price{
            font-weight: bold;
            padding-right: 15px;
            padding-left: 8px;
            margin-top: 20px;
        }
    }

    .blockmenu{
        width: 100%;
        display: flex;
        flex-direction: column;

        &__info-price{
            cursor: pointer;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 70px;
            margin-bottom: 3%;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.16);
        }
    }
    &__order{
        @include flexbox();
        margin-top: 35px;
        margin-bottom: 50px;

        &-btn{
            @include btn-shape();
            background-image: linear-gradient($color-secondary, $color-primary);
            transform: scale(1.0);
            padding: 15px 50px;

            
            &:hover{
                @include btn-hover();
                @include btn-shadow();
                transform: scale(1.02);
            }
            
            &:active{
                box-shadow: 0px 0px 10px 2px $color-secondary;
                transform: scale(1.05);
            }
        }
    }

}

.foot{
    width: 100%;
    background-color: #353535;
    @include flexbox();
    
    & a{
        text-decoration: none;
        color: white;
    }

    &__block{
        display: inline;
        padding: 0px 40px;
        width: 100%;
        max-width: 1200px;
    
        & .logo{
            font-family: 'Shrikhand', sans-serif;
            font-size: 20px;
            padding: 15px 0px;
            
            &:hover{
                text-shadow: $color-secondary 6px 6px 12px;
            }
        }
    
        &-links{
            display: inline-flex;
            flex-direction: column;
            width: auto;
        }
    
        &-link{
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            height: 30px;
            
            & i {
                margin-right: 8px;
                font-size: 12px;
            }
            
            &__title {
                font-weight: 500;
                font-size: 16px;
                cursor: pointer;
            }   

            &:hover{
                transform: scale(1.1);
            }
        } 
    }
}
