@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #F6F6F6;
}
header{
    @include flexbox();
    flex-direction: column;
}

main{
    margin: 0px;
    padding: 0px;
    @include flexbox();
    flex-direction: column;
}