@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn-shape{
    opacity: 1;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);  
}

@mixin btn-hover{
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);   
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #F6F6F6;
}

header{
    @include flexbox();
    flex-direction: column;
}

main{
    margin: 0px;
    padding: 0px;
    @include flexbox();
    flex-direction: column;
}

.header-main{
    background-color: #FAFAFA;
    width: 100%;
    
    &__search-block{
        @include flexbox();
        flex-direction: column;
        width: 100%;
        padding: 50px 0px;
    }
    
    &__title{
        text-align: center;
        max-width: 250px;
        margin: 0px;
    }
    
    &__txt{
        text-align: center;
    }

    &__btn{
        @include btn-shape;
        background-color: black;
        &:hover{
            @include btn-hover;
            background-color: blue;
        }
    }
}

.block-functioning{
    padding: 20px 0px;
    width: 100%;
    background: white;
    @include flexbox;
    flex-direction: column;
}